[Unit]
Description=Defrag servers (native)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/home/ubuntu/dfsv
ExecStart=/home/ubuntu/dfsv/launch-native.sh
ExecStop=/home/ubuntu/dfsv/stop-native.sh
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target